{%extends 'base.html'%}
{% load static %}
{%block mainbody%}

    <body style="background-image: linear-gradient(to right,rgb(102,179,186,1), rgba(246, 239, 166))">
           <br><br><br><br><br>
    <div class="container"  >
        <section class="vh-100 gradient-custom">
          <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
              <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                  <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                    <form  method="POST" accept-charset="utf-8">
                        {% csrf_token %}
                        <div class="mb-5">
                            <label class="text-center">Username</label>
                            <input type="text" name = "username" class = "autofocus">
                            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                        </div>
                        <div class="mb-5">
                            <label for="id_password1">Password:</label>
                            <input type="password" name="password1" required="" id="id_password1">
                            <span class="helptext">
                                <ul>
                                    <li>Your password can't be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can't be a commonly used password.</li>
                                    <li>Your password can't be entirely numeric.</li></ul>
                            </span>
                        </div>
                        <div class="mb-5">
                            <label for="id_password2">Password confirmation:</label>
                            <input type="password" name="password2" required="" id="id_password2">
                            <span class="helptext">Enter the same password as before, for verification.</span>
                        </div>
                        <button class="btn btn-block btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

    </div >
    </body>
{%endblock%}
